:root {
  --purple: rgba(100, 21, 255, 1);
  --blue: rgba(36, 62, 99, 1);
  --grey-text: rgb(124, 139, 161);
  --customer-text: rgb(160, 174, 192);
}

/* basic styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: black;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
}

.purple {
  color: var(--purple);
}

.noTextDecoration {
  text-decoration: none;
}

.purple__button {
  border-radius: 30px;
  transition: all 300ms ease;
  background-color: var(--purple);
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.purple__button:hover {
  background-color: rgb(23, 5, 63);
}

section {
  position: relative;
}

.blob {
  position: absolute;
  width: 275px;
  opacity: 0.05;
  z-index: -1;
}

/* nav bar */

nav {
  height: 104px;
  padding: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav__logo:hover .nav__logo--text {
  color: var(--purple);
}

.nav__logo--wrapper {
  width: 40px;
  height: 40px;
}

.nav__logo--text {
  margin-left: 8px;
  font-size: 24px;
  color: var(--blue);
  transition: all 300ms ease;
}

.nav__links {
  display: flex;
}

.nav__links ul {
  display: flex;
  list-style: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 32px;
  color: var(--blue);
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border, color 300ms ease;
}

.nav__link:hover {
  color: var(--purple);
  border-bottom-color: var(--purple);
}

.nav__links--page {
  margin-right: 32px;
}

.nav__link--purple {
  text-decoration: none;
  padding: 8px 24px;
}

/* container & row */

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  flex-direction: column;
  text-align: center;
}

/* main */

main {
  margin-top: 60px;
  margin-bottom: 220px;
  padding: 0 32px;
  position: relative;
}

.main__text {
  width: 40%;
}

.main__title {
  font-size: 40px;
  margin-bottom: 32px;
}

.main__subtext {
  color: var(--blue);
  margin-bottom: 24px;
}

.main__input {
  position: relative;
  margin-bottom: 64px;
}

.main__input--box {
  border-radius: 50px;
  padding: 16px 72px 16px 24px;
  width: calc(100% - 32px);
  margin: 0 8px;
  border: 2px solid #e5e7eb;
  position: relative;
  font-size: 16px;
  transition: all 300ms ease;
}

.main__input--box:hover {
  border-color: rgba(36, 62, 99, 0.5);
}

.main__button {
  position: absolute;
  margin: 8px 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 32px;
  font-size: 16px;
  padding: 8px 24px;
}

.main__customers--text {
  color: var(--customer-text);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.customers__img--wrapper {
  opacity: 0.5;
  width: 75%;
}

.main__img--container {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.main__img--wrapper {
  max-width: 32rem;
}

.main__blob {
  position: absolute;
  width: 275px;
  opacity: 0.05;
  left: -150px;
  top: 300px;
  z-index: -1;
}

/* section text */

.section__title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
}

.section__title--big {
  color: var(--blue);
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section__description {
  color: var(--grey-text);
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 32px;
}

/* features */

#features {
  padding-bottom: 230px;
  overflow-x: hidden;

}

.features__description {
  margin-bottom: 60px;
}

.features__wrapper {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.feature {
  width: calc(100% / 3);
  display: flex;
  padding: 25px 20px;
}

.feature__img--wrapper img {
  border: 1px solid #e5e7eb;
  padding: 18px;
  width: 25px;
  box-sizing: content-box;
  border-radius: 100px;
}

.feature__text {
  text-align: start;
  padding-left: 20px;
}

.feature__title {
  color: var(--blue);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.feature__subtext {
  color: var(--grey-text);
  font-weight: 500;
  line-height: 2;
}

.features__blob {
  opacity: 0.2;
  right: -110px;
  top: 520px;
  
}


/* quality */ 

#quality {
  padding: 0 32px;
  margin-bottom: 230px;
}

.quality__text {
  width: 50%;
  padding-right: 24px;
}

.quality__button {
  padding: 12px 28px;
}
.quality__img--container {
  width: 50%;
  display: flex;
  align-items: center;
}

.quality__img--wrapper {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  overflow: hidden;
}

.quality-dots__img {
  width: 1000px;
  height: 1000px;
}

/* steps */

#steps {
  padding: 0 32px;
}

.steps__image--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.steps__text {
  width: 50%;
  padding: 0 56px;
}

.steps__title--big {
  margin-bottom: 48px;
}

.step {
  display: flex;
  padding-bottom: 32px;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: rgba(203,213,224, 1);
  padding-right: 24px;
}

.step__title {
  color: var(--blue);
  font-weight: 600;
  padding-bottom: 8px;  
}

.step__description {
  color: var(--grey-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}

